@use "../abstract/variable" as v;
@use "../abstract/mixins" as m;

@font-face {
      font-family: "roboto" ;
      src: url(../../font/Roboto-Regular.ttf);
}
@font-face {
      font-family: "robotobold" ;
      src: url(../../font/Roboto-Bold.ttf);
}

body{
      font-family:"roboto";
}