@use "../abstract/variable" as v;
@use "../abstract/mixins" as m;


@media screen and (max-width:750px) {
      .fa-bars{
            display: block;
            margin-right: 2rem;
      }
      .menu_bar ul{
            display: none;
      }
      .menu_bar:hover ul{
            display: block;
            position: absolute;
            top: 1.5rem;
            right: 0;
            background-color: v.$first-color ;
            color: white;
      }
      .menu_bar li{
            padding: 1rem;
      }
      .menu_bar li:hover{
            text-shadow: 0px 5px 5px orange;
      }
      .banner_title{
            margin: 0 5rem;
            p{
                  font-size: 0.8em;
            }
      }
      #contact{
            padding-bottom: 5rem;
            p{
                  padding: 0 5rem;
            }
            .map{
                  display: none;
                  
            }
      }

}
@media screen and (max-width:530px) {
      .banner_title{
          margin: 0 2rem;
      }
      .card_content{
            padding: 0 2rem;
      }
      #citation{
            .text{
                  margin: 1rem 2rem;
      }
      }
}
@media screen and (max-width:420px) {
      .banner_title{
          margin: 0 1rem;
      }
}
@media screen and (max-width:370px) {
      .banner_title{
          margin: 0 0.5rem;
      }
      #contact{
            p{
                  padding: 0 1rem;
            }
      }
      .address{
      justify-content: center;
      }
}