@use "../abstract/variable" as v;

@mixin btnblue{
    background-color: #3dc1cd ;
    color: white;
    text-transform: uppercase;
    border-radius: 20px;
    box-shadow: 2px 2px 10px grey;
    padding: 10px;
    &:hover{
        background-color: white;
        color:  #3dc1cd ;
    }
}
@mixin btnwhite{
    background-color: white;
    color: black;
    font-family: "poppins";
    text-transform: uppercase;
    border: 1px solid black;
    border-radius: 20px;
    padding: 5px 10px;
    transition: all 0.1s linear;
    &:hover{
        color: #f5c45d ;
    }
}

@mixin btnwhiteblog{
    background-color: white;
    color: black;
    font-family: "poppins";
    font-weight: bolder;
    padding: 10px;
    transition: all 0.1s linear;
    &:hover{
        color: #f5c45d ;
    }
}