// couleurs principales
$first-color:#f5c45d;
$snd-color:#3dc1cd ;
$third-color:#585f65 ;
$quart-color:#373b3c;

// bouton blanc
$btncolor1: white;
$btncolor-text1:black;
$btncolor-hover-text1:#f5c45d;

// bouton bleu
$btncolor:#3dc1cd ;
$btncolor-text:white;
$btncolor-hover: white;
$btncolor-hover-text: #3dc1cd ;

// police
$font: "roboto";
$fontbold:"robotobold";
